@mixin min-max($min-width, $max-width, $padding) {
  min-width: $min-width;
  max-width: $max-width;
  padding: 0 $padding;
  box-sizing: border-box;
  margin: 0 auto;
}

@mixin btn($bg: $red, $two-button: false) {
  width: 225px;
  border-radius: 3px;
  border: 1px solid $bg;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding: 18px 0;
  letter-spacing: 0.14px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  box-sizing: border-box;
  background-color: $red;
  border-color: $white;
  transition-duration: 500ms;
  @content;
  &:hover{
    background-color: $red;
  }
  @if $two-button == true {
    &:first-child{
      margin-right: 25px;
    }
  }
}

@mixin devider($color-line: $white-gray) {
  display: block;
  width: 7px;
  position: relative;
  margin: 20px auto;
  p{
    text-align: center;
    &::after{
      content: "";
      width: 7px;
      height: 7px;
      background-color: $red;
      display: block;
      border-radius: 50%;
    }
  }
  &::after, &::before{
    content: "";
    width: 80px;
    height: 1px;
    background-color: $color-line;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-1px);
  }
  &::before{
    left: -90px;
  }
  &::after{
    right: -90px;
  }
}